In [42]:
import requests
import pandas as pd
import io
import datetime

# API endpoint and headers
url = "https://visual-crossing-weather.p.rapidapi.com/history"
headers = {
    "X-RapidAPI-Key": "8313dc4870msh8ab9152b95b5effp19177ajsn329593311cc2",
    "X-RapidAPI-Host": "visual-crossing-weather.p.rapidapi.com"
}

# Set start and end date
start_date = datetime.date(2019, 1, 1)
end_date = datetime.date.today()

# Set location and query parameters
location = "Warangal"
params = {
    "aggregateHours": "24",
    "unitGroup": "us",
    "location": location,
    "shortColumnNames": "True",
    "contentType": "csv"
}

# Initialize an empty DataFrame to hold the data
all_data = pd.DataFrame()

# Loop through dates and fetch data
date = start_date
while date <= end_date:
    # Set query parameters for current date
    params["startDateTime"] = date.strftime("%Y-%m-%dT%H:%M:%S")
    params["endDateTime"] = (date + datetime.timedelta(days=30)).strftime("%Y-%m-%dT%H:%M:%S")

    # Make API request and get response as string
    response = requests.get(url, headers=headers, params=params)
    response.raise_for_status()
    response_str = response.text

    # Convert response string to pandas DataFrame
    df = pd.read_csv(io.StringIO(response_str))

    # Append current month's data to the all_data DataFrame
    all_data = all_data.append(df, ignore_index=True)

    # Move to next month
    date = date + datetime.timedelta(days=30)

# Save DataFrame to CSV file
filename = f"{location}_{start_date.strftime('%Y-%m-%d')}_{end_date.strftime('%Y-%m-%d')}.csv"
all_data.to_csv(filename, index=False)

/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/tmp/ipykernel_27972/1313568454.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)

In [43]:
data = pd.read_csv("../Weather_Data/api/Warangal.csv")

In [44]:
col = ['Location', 'Date', 'Minimum Temperature', 'Maximum Temperature', 'Temperature', 'Dew Point', 'Relative Humidity', 'Heat Index', 'Wind Speed', 'Wind Gust', 'Wind Direction', 'Wind Chill', 'Precipitation', 'Precipitation Cover', 'Snow Depth', 'Visibility', 'Cloud Cover', 'Sea Level Pressure', 'Weather Type', 'Latitude', 'Longitude', 'Resolved Address', 'Name', 'Info', 'Conditions']
# col = ['Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions']
data.columns = col

In [45]:
data["Date"] = pd.to_datetime(data["Date"])

In [46]:

data['Minimum Temperature'] = ((data['Minimum Temperature'] - 32)*(5/9))
# data['Minimum Temperature'] = (data['Minimum Temperature']*(5/9))

data['Maximum Temperature'] = ((data['Maximum Temperature'] - 32)*(5/9))
# data['Maximum Temperature'] = (data['Maximum Temperature']*(5/9))

data['Temperature'] = ((data['Temperature'] - 32) * (5/9))

In [47]:
data.to_csv("../Weather_Data/api/Warangal.csv", index=False)

In [103]:
df = pd.read_csv("../Weather_Data/api/Warangal.csv")

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1555 entries, 0 to 1554
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              1555 non-null   object
 1   Date time            1555 non-null   object
 2   Minimum Temperature  1518 non-null   float64
 3   Maximum Temperature  1518 non-null   float64
 4   Temperature          1518 non-null   float64
 5   Dew Point            1518 non-null   float64
 6   Relative Humidity    1518 non-null   float64
 7   Heat Index           1290 non-null   float64
 8   Wind Speed           1518 non-null   float64
 9   Wind Gust            0 non-null      float64
 10  Wind Direction       83 non-null     float64
 11  Wind Chill           0 non-null      float64
 12  Precipitation        1555 non-null   float64
 13  Precipitation Cover  1518 non-null   float64
 14  Snow Depth           0 non-null      float64
 15  Visibility           1518 non-null   float64
 16  Cloud Cover          1269 non-null   float64
 17  Sea Level Pressure   1517 non-null   float64
 18  Weather Type         287 non-null    object
 19  Latitude             1555 non-null   float64
 20  Longitude            1555 non-null   float64
 21  Resolved Address     1555 non-null   object
 22  Name                 1555 non-null   object
 23  Info                 0 non-null      float64
 24  Conditions           1518 non-null   object
dtypes: float64(19), object(6)
memory usage: 303.8+ KB

In [105]:

data = df
data["Date"] = pd.to_datetime(data["Date"])
# data = data[data["Date time"] >= pd.Timestamp("2019-01-01")]

In [106]:
clean_data = data.set_index('Date').interpolate(method='linear')

In [107]:
clean_data = clean_data.reset_index(drop=False)

In [108]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1555 entries, 0 to 1554
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date time            1555 non-null   datetime64[ns]
 1   Address              1555 non-null   object
 2   Minimum Temperature  1555 non-null   float64
 3   Maximum Temperature  1555 non-null   float64
 4   Temperature          1555 non-null   float64
 5   Dew Point            1555 non-null   float64
 6   Relative Humidity    1555 non-null   float64
 7   Heat Index           1554 non-null   float64
 8   Wind Speed           1555 non-null   float64
 9   Wind Gust            0 non-null      float64
 10  Wind Direction       1530 non-null   float64
 11  Wind Chill           0 non-null      float64
 12  Precipitation        1555 non-null   float64
 13  Precipitation Cover  1555 non-null   float64
 14  Snow Depth           0 non-null      float64
 15  Visibility           1555 non-null   float64
 16  Cloud Cover          1555 non-null   float64
 17  Sea Level Pressure   1555 non-null   float64
 18  Weather Type         287 non-null    object
 19  Latitude             1555 non-null   float64
 20  Longitude            1555 non-null   float64
 21  Resolved Address     1555 non-null   object
 22  Name                 1555 non-null   object
 23  Info                 0 non-null      float64
 24  Conditions           1518 non-null   object
dtypes: datetime64[ns](1), float64(19), object(5)
memory usage: 303.8+ KB

In [109]:
clean_data.to_csv("../Weather_Data/api/Warangal.csv", index=False)

In [112]:
df1 = pd.read_csv("../Weather_Data/api/Adilabad.csv")
df2 = pd.read_csv("../Weather_Data/api/Karimnagar.csv")
df3 = pd.read_csv("../Weather_Data/api/Khammam.csv")
df4 = pd.read_csv("../Weather_Data/api/Nizamabad.csv")
df5 = pd.read_csv("../Weather_Data/api/Warangal.csv")


merged_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [114]:
merged_df.to_csv("../Weather_Data/all_data.csv",index=False)

In [115]:
merged_df['Location'] = merged_df['Location'].replace('Adilabad, Telangana, India', 'Adilabad')

In [13]:
merged_df

,Date,Location,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
0,2019-01-01,Adilabad,17.333333,17.333333,17.333333,36.6,37.11,NaN,2.2,NaN,...,6.2,0.0,1023.0,Smoke Or Haze,19.6772,78.5331,"Adilabad, TS, India","Adilabad, TS, India",NaN,Clear
1,2019-01-02,Adilabad,26.333333,28.833333,27.611111,47.7,31.90,81.4,0.0,NaN,...,6.2,50.0,1016.8,Smoke Or Haze,19.6772,78.5331,"Adilabad, TS, India","Adilabad, TS, India",NaN,Partially cloudy
2,2019-01-03,Adilabad,16.166667,27.055556,21.611111,48.8,48.47,79.8,0.0,NaN,...,6.2,20.0,1018.8,Smoke Or Haze,19.6772,78.5331,"Adilabad, TS, India","Adilabad, TS, India",NaN,Clear
3,2019-01-04,Adilabad,16.666667,28.333333,22.500000,54.2,53.63,83.1,0.0,NaN,...,6.2,25.0,1017.8,Smoke Or Haze,19.6772,78.5331,"Adilabad, TS, India","Adilabad, TS, India",NaN,Clear
4,2019-01-05,Adilabad,17.333333,28.055556,22.722222,53.6,54.31,81.4,0.0,NaN,...,6.2,25.0,1016.5,Smoke Or Haze,19.6772,78.5331,"Adilabad, TS, India","Adilabad, TS, India",NaN,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7796,2023-02-16,Warangal,16.333333,31.333333,23.833333,53.1,53.88,85.8,0.0,NaN,...,6.2,30.0,1012.3,NaN,17.9841,79.6020,"Warangal Urban, TS, India","Warangal Urban, TS, India",NaN,Clear
7797,2023-02-17,Warangal,18.333333,31.055556,24.722222,60.2,63.41,87.0,0.0,NaN,...,6.2,30.0,1012.7,NaN,17.9841,79.6020,"Warangal Urban, TS, India","Warangal Urban, TS, India",NaN,Clear
7798,2023-02-18,Warangal,20.333333,29.055556,24.722222,64.1,69.43,85.0,0.0,NaN,...,4.3,30.0,1012.7,Smoke Or Haze,17.9841,79.6020,"Warangal Urban, TS, India","Warangal Urban, TS, India",NaN,Clear
7799,2023-02-19,Warangal,20.333333,31.055556,25.722222,63.4,66.59,87.6,0.0,NaN,...,6.2,30.0,1013.1,NaN,17.9841,79.6020,"Warangal Urban, TS, India","Warangal Urban, TS, India",NaN,Clear
7800,2023-02-20,Warangal,20.055556,20.055556,20.055556,65.0,89.95,87.6,0.0,NaN,...,2.5,30.0,1014.0,Smoke Or Haze,17.9841,79.6020,"Warangal Urban, TS, India","Warangal Urban, TS, India",NaN,Clear